In [1]:
import pandas as pd
import numpy as np




country_df = pd.read_csv('../Datasets/world-development/Country.csv')
indicators_df = pd.read_csv('../Datasets/world-development/Indicators.csv')

In [5]:
country_df.columns

Index([u'CountryCode', u'ShortName', u'TableName', u'LongName', u'Alpha2Code',
       u'CurrencyUnit', u'SpecialNotes', u'Region', u'IncomeGroup', u'Wb2Code',
       u'NationalAccountsBaseYear', u'NationalAccountsReferenceYear',
       u'SnaPriceValuation', u'LendingCategory', u'OtherGroups',
       u'SystemOfNationalAccounts', u'AlternativeConversionFactor',
       u'PppSurveyYear', u'BalanceOfPaymentsManualInUse',
       u'ExternalDebtReportingStatus', u'SystemOfTrade',
       u'GovernmentAccountingConcept', u'ImfDataDisseminationStandard',
       u'LatestPopulationCensus', u'LatestHouseholdSurvey',
       u'SourceOfMostRecentIncomeAndExpenditureData',
       u'VitalRegistrationComplete', u'LatestAgriculturalCensus',
       u'LatestIndustrialData', u'LatestTradeData',
       u'LatestWaterWithdrawalData'],
      dtype='object')

In [6]:
indicators_df.columns

Index([u'CountryName', u'CountryCode', u'IndicatorName', u'IndicatorCode',
       u'Year', u'Value'],
      dtype='object')

In [7]:
country_df.head(5)

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2013.0,2000.0
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011.0,2013.0,2006.0
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,NaN,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",NaN,NaN,2010.0,2013.0,2001.0
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,NaN,East Asia & Pacific,Upper middle income,AS,...,NaN,NaN,2010,NaN,NaN,Yes,2007,NaN,NaN,NaN
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,NaN,2011. Population data compiled from administra...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN

In [8]:
indicators_df.head(5)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [11]:
pd.isnull(country_df).count()

CountryCode                                   247
ShortName                                     247
TableName                                     247
LongName                                      247
Alpha2Code                                    247
CurrencyUnit                                  247
SpecialNotes                                  247
Region                                        247
IncomeGroup                                   247
Wb2Code                                       247
NationalAccountsBaseYear                      247
NationalAccountsReferenceYear                 247
SnaPriceValuation                             247
LendingCategory                               247
OtherGroups                                   247
SystemOfNationalAccounts                      247
AlternativeConversionFactor                   247
PppSurveyYear                                 247
BalanceOfPaymentsManualInUse                  247
ExternalDebtReportingStatus                   247
SystemOfTrade                                 247
GovernmentAccountingConcept                   247
ImfDataDisseminationStandard                  247
LatestPopulationCensus                        247
LatestHouseholdSurvey                         247
SourceOfMostRecentIncomeAndExpenditureData    247
VitalRegistrationComplete                     247
LatestAgriculturalCensus                      247
LatestIndustrialData                          247
LatestTradeData                               247
LatestWaterWithdrawalData                     247
dtype: int64

In [13]:
country_df[pd.isnull(country_df)].head(5)

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
country = country_df.dropna(axis=1)
pd.isnull(country).count()

CountryCode    247
ShortName      247
TableName      247
LongName       247
dtype: int64

In [25]:
country.shape

(247, 4)